/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0ea495;
}

/* Cabeçalho */
header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #fff;
    /* opcional */
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.logo-topo {
    max-width: 150px;
    height: auto;
    display: block;
}

/* Container central */
.container {
    width: 400px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    /* centraliza apenas o container */
}

/* Título */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus,
input[type="email"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

input[type="submit"]:hover {
    background-color: #555;
}

.image-container {
    position: relative;
    width: 400px;
    /* ajuste conforme necessário */
    height: 250px;
    /* ajuste conforme necessário */
    margin: 50px auto;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.image-container img.active {
    opacity: 1;
    z-index: 1;
}